div.driver-license {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.driver-license .filename {
  flex: 1;
  margin-right: 5px;
}

div.driver-license div.actions {
  display: flex;
  flex-direction: row;
}
